header#header
  button#mobileMenuBtn
  span.logo.pull-left.hidden-xs.hidden-md
    img(src='/assets/images/logo-dashboard-full.png', alt='Chesapeake Men\'s Senior Baseball League, Inc.', height='35').margin-top-6
  span.logo.pull-left.hidden-lg.hidden-xl
    img(src='/assets/images/logo-dashboard-short.png', alt='Chesapeake Men\'s Senior Baseball League, Inc.', height='35').margin-top-6
  nav
    ul.nav.pull-right
      li.dropdown.pull-left
        a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
          img.user-avatar(alt='', src=user.picture, height='34')
          span.user-name
            span.hidden-xs
              = user.name
              i.fa.fa-angle-down
        ul.dropdown-menu.hold-on-click
          li
            a(href='/profile')
              i.fa.fa-cogs
              |  Profile
          li.divider
          li
            a(href='/logout')
              i.fa.fa-power-off
              |  Log Out
