aside#aside
  nav#sideNav
    ul.nav.nav-list
      li.active
        a.dashboard(href='index.html')
          i.main-icon.fa.fa-dashboard
          span Dashboard
      li
        a(href='#')
          i.fa.fa-menu-arrow.pull-right
          i.main-icon.fa.fa-bar-chart-o
          span Graphs
        ul
          li
            a(href='graphs-flot.html') Flot Charts
          li
            a(href='graphs-morris.html') Morris Charts
          li
            a(href='graphs-inline.html') Inline Charts
          li
            a(href='graphs-chartjs.html') Chart.js
      li
        a(href='#')
          i.fa.fa-menu-arrow.pull-right
          i.main-icon.fa.fa-table
          span Tables
        ul
          li
            a(href='tables-bootstrap.html') Bootstrap Tables
          li
            a(href='tables-jqgrid.html') jQuery Grid
          li
            a(href='tables-footable.html') jQuery Footable
          li
            a(href='#')
              i.fa.fa-menu-arrow.pull-right
              |  Datatables
            ul
              li
                a(href='tables-datatable-managed.html') Managed Datatables
              li
                a(href='tables-datatable-editable.html') Editable Datatables
              li
                a(href='tables-datatable-advanced.html') Advanced Datatables
      li
        a(href='#')
          i.fa.fa-menu-arrow.pull-right
          i.main-icon.fa.fa-pencil-square-o
          span Forms
        ul
          li
            a(href='form-elements.html') Smarty Elements
          li
            a(href='form-masked-inputs.html') Masked Inputs
          li
            a(href='form-pickers.html') Pickers
          li
            a(href='form-ui-sliders.html') UI Sliders
          li
            a(href='form-validation.html') Validation Form
          li
            a(href='form-html-editors.html') Html Editors
          li
            a(href='form-autosuggest.html') Autosuggest
          li
            a(href='form-x-editable.html') Form X-Editable
          li
            a(href='form-dropzone.html') Dropzone File Upload
      li
        a(href='#')
          i.fa.fa-menu-arrow.pull-right
          i.main-icon.fa.fa-gears
          span UI Features
        ul
          li
            a(href='ui-portlets.html') Portlets
          li
            a(href='ui-buttons.html') Buttons
          li
            a(href='#')
              i.fa.fa-menu-arrow.pull-right
              |  Icons
            ul
              li
                a(href='ui-icons-fontawsome.html') Fontawsome
              li
                a(href='ui-icons-etline.html') Et-Line Icons
              li
                a(href='ui-icons-glyphicons.html') Glyph Icons
              li
                a(href='ui-icons-flags.html') Flags
          li
            a(href='ui-alerts-dialogs.html') Alerts &amp; Dialogs
          li
            a(href='ui-tabs-acordion-navs.html') Tabs, Acordion &amp; Navs
          li
            a(href='ui-knob.html') Knob Circles
          li
            a(href='ui-nestable.html') Nestable List
          li
            a(href='ui-toastr.html') Toastr Notifications
          li
            a(href='ui-modals.html') Modals
          li
            a(href='ui-grid.html') Grid
          li
            a(href='ui-google-maps.html') Google Maps
          li
            a(href='ui-vector-maps.html') Vector Maps
          li
            a(href='ui-essentials.html') Essentials
          li
            a(href='#')
              i.fa.fa-menu-arrow.pull-right
              i.fa.fa-folder-open
              |  Deep Navigation
            ul
              li
                a(href='#') 3rd Level
              li
                a(href='#')
                  i.fa.fa-menu-arrow.pull-right
                  i.fa.fa-folder-open
                  |  4rd Level
                ul
                  li
                    a(href='#') 4th Level
                  li
                    a(href='#')
                      i.fa.fa-menu-arrow.pull-right
                      i.fa.fa-folder-open
                      |  5th Level
                    ul
                      li
                        a(href='#') 5th level
                      li
                        a(href='#')
                          i.fa.fa-menu-arrow.pull-right
                          i.fa.fa-folder-open
                          |  6th level
                        ul
                          li
                            a(href='#') 6th level
                          li
                            a(href='#') 6th level
      li
        a(href='#')
          i.fa.fa-menu-arrow.pull-right
          i.main-icon.fa.fa-book
          span Pages
        ul
          li
            a(href='page-invoice.html') Invoice
          li
            a(href='page-login.html') Login
          li
            a(href='page-register.html') Register
          li
            a(href='page-lock.html') Lock Screen
          li
            a(href='page-forum.html') Forum
          li
            a(href='page-404.html') Error 404
          li
            a(href='page-500.html') Error 500
          li
            a(href='page-pricing.html') Pricing Table
          li
            a(href='page-search.html') Search Result
          li
            a(href='page-sidebar.html') Sidebar Page
          li
            a(href='page-user-profile.html') User Profile
          li
            a(href='page-blank-1.html') Blank Page
    h3 MORE
    ul.nav.nav-list
      li
        a(href='calendar.html')
          i.main-icon.fa.fa-calendar
          span.label.label-warning.pull-right 2
          span Calendar
      li
        a(href='../../HTML/start.html')
          i.main-icon.fa.fa-link
          span.label.label-danger.pull-right PRO
          span Frontend
  span#asidebg
