aside#aside
  nav#sideNav
    ul.nav.nav-list
      li.active
        a.dashboard(href='index.html')
          i.main-icon.fa.fa-dashboard
          span Dashboard
        li
          a
            i.fa.fa-menu-arrow.pull-right
            i.main-icon.fa.fa-users
            span My Teams
          ul
            li
              a(href='/teams/create') Create a Team
                span.label.label-success.pull-right: i.fa.fa-plus.text-white
  span#asidebg
